/*.container{
    background-color: beige;
}*/
.comedytitle{
    padding-top: 30px;
}

h1{
    text-align: center;
}

img{
    width: 176px;
    height: 253px;
    display: block;
    float: left;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}


.topcontainer{
    width: 358px;
    height: 512px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    margin: auto;
}

.container2{
    padding-top: 250px;
}
