.btn-default {
     color: #FFFFFF;
     background-color: #0F08D6;
     border-color: #0B0A0D;
 }

hr {
    border-top: 3px double #8c8b8b;
}

#video-background {
    right: 0;
    bottom: 0;
    width : 100%;
    height: 40%;
    border: solid 10px black;
}

.quiz{
    padding-bottom: 40px;
}