<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Log In Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="./style/index.css">
</head>
<body>
    <header class="bgimg">
        <div class="text-center well">
            <h1><span class="fa  fa-fire"></span><strong> MovieRec</strong></h1>
            <!--        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
                    <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a> -->
            <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span><strong> Login with Facebook</strong></a>
        </div>
    </header>


</body>
</html>