<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Log In Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body 		{ padding-top:80px; }
        img {width: 200px;}
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md6 float-left">
                <a href="#"><img src="./imgQuiz/wardogs.jpg"></a>
                <a href="#"><img src="./imgQuiz/niceguys.png"></a>
            </div>
            <div class="col-md6 float-right">
                <a href="#"><img src="./imgQuiz/neighbors.jpg"></a>
                <a href="#"><img src="./imgQuiz/zootopia.jpeg"></a>
            </div>
        </div>

    </div>
</body>
</html>